<% provide(:title, 'About') %>
<h1>About Swashfly Timesheet</h1>
<p>
	   Swashfly is a company specialising in hosted practice management software.
	This is the timesheeting application; it is great for small businesses do project work and who want to bill their clients for the time.
</p>
