
<!DOCTYPE html>
<div class="center hero-unit">

<h1>Welcome to the Swashfly Invoice System</h1>
<%= currently_at 'Home'%>
<h2>
  This is the home page for the Swashfly invoicing system
its a real app but its mainly for getting us up to speed with rails and working together.
</h2>

 
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>