<% provide(:title, 'Home') %>
<!DOCTYPE html>


<h1>Swashfly Invoice System</h1>
<p>
  This is the home page for the Swashfly invoicing system
its a real app but its mainly for getting us up to speed with rails and working together.
</p>
