

<head>

<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<title>Stokes Systems | Projects</title>

<link rel="icon" href="http://assets.invoicemachine.com/favicon.ico" type="image/x-icon"> 

<noscript>
<meta http-equiv="refresh" content="0;url=http://stokes.invoicemachine.com/javascript" />
</noscript>

<link rel="stylesheet" type="text/css" media="all" href="http://assets.invoicemachine.com/stylesheets/foundation.css" />
<link rel="stylesheet" type="text/css" media="all" href="http://assets.invoicemachine.com/stylesheets/application.css" />
<link rel="stylesheet" type="text/css" media="all" href="http://assets.invoicemachine.com/stylesheets/scroll.css" />
<link rel="stylesheet" type="text/css" media="all" href="http://assets.invoicemachine.com/stylesheets/layout_one.css" />
<link rel="stylesheet" type="text/css" media="all" href="http://assets.invoicemachine.com/stylesheets/blue.css" />

<script type="text/javascript" src="http://assets.invoicemachine.com/javascripts/jquery.js"></script>
<script type="text/javascript" src="http://assets.invoicemachine.com/javascripts/jquery.plugins.js"></script>
<script type="text/javascript" src="http://assets.invoicemachine.com/javascripts/jquery.application.js"></script>

</head>

<body id="projects">

<div id="head">

<input type="hidden" name="country" value="Australia" />
<input type="hidden" name="number_format" value="1" />
<input type="hidden" name="round_numbers" value="0" />
<input type="hidden" name="line_tax" value="" />
<input type="hidden" name="per_page" value="10" />
<input type="hidden" name="automatic_mode" value="0" />
<input type="hidden" name="tax_one_name" value="Tax" />
<input type="hidden" name="tax_two_name" value="Tax" />
<input type="hidden" name="rate" value="0.00" />

<div class="inner">

<h1 id="logo">Stokes Systems</h1>

<ul id="shortcuts">

<li><a href="http://stokes.invoicemachine.com/upgrade">Upgrade</a></li>
<li><a href="http://stokes.invoicemachine.com/account">Account</a></li>
<li><a href="http://stokes.invoicemachine.com/settings">Settings</a></li>
<li><a href="http://stokes.invoicemachine.com/users">Users</a></li>
<li><a href="http://stokes.invoicemachine.com/profile">Profile</a></li>
<li><a href="http://invoicemachine.com/help" class="blank">Help</a></li>
<li><a href="http://stokes.invoicemachine.com/logout" id="logout">Logout</a></li>
</ul>

<ul id="navigation">
<li><a href="http://stokes.invoicemachine.com/invoices">Invoices</a></li>
<li><a href="http://stokes.invoicemachine.com/estimates">Estimates</a></li>
<li><a href="http://stokes.invoicemachine.com/recurring">Recurring</a></li>
<li><a href="http://stokes.invoicemachine.com/projects" class="current">Projects</a></li>
<li><a href="http://stokes.invoicemachine.com/clients">Clients</a></li>
</ul>

</div>

</div>

<div id="page">

<div class="inner">

<div id="new_part" style="display: none">

<ul class="sidebar">

<li><a href="#" id="cancel">Cancel</a></li>

</ul>
			
<h2 class="title">New Project</h2><div class="box">
<form action="http://stokes.invoicemachine.com/projects" method="post">

<div id="details_part">
<div class="inline">
<label>Name</label>

<input type="text" name="name" class="field" />

</div>
<div class="inline">
<label class="optional">Description</label>

<textarea name="description" class="textarea large"></textarea>

</div>
<div class="inline last">
<label class="optional">Client</label>

<div id="select_client">
<div class="select_wrapper">
<select name="client" class="select">
<option value="add_new_client" selected="selected">Add New Client…</option>
<option value="0" selected="selected">Internal</option>
<option value="399111">HSD</option>
<option value="399112">HSD</option>
<option value="399110">Sample Company</option>
</select>
</div>

</div>
</div>
</div>
<div id="task_part">
<div class="bar">
<span class="hours">Hours</span>
<span class="rate">Rate</span>
<span class="description">Description</span>
<span class="billed">Billed</span>
<span class="task_total">Total</span>
</div>
<ul id="tasks">
<li class="task">
<a href="#" class="remove_task">Remove</a>
<span class="hours"><input type="text" name="task[1][hours]" class="field number" value="0.00" />
</span>
<span class="rate"><input type="text" name="task[1][rate]" class="field number" value="0.00" />
</span>
<span class="description"><textarea name="task[1][description]" class="textarea"></textarea>
</span>
<span class="billed"><div class="checkbox_wrapper">
<input type="checkbox" name="task[1][billed]" value="1" class="checkbox" />
</div>
</span>
<span class="total">0.00</span>
<a href="#" class="handle" style="display: none"></a>
</li>
</ul>
<a href="#" id="insert">Insert New Task</a>
<div id="subtotal">
<div class="left">
<p class="hours_display">Hours</p>
<p class="total_display">Total</p>
</div>
<div class="right">
<p class="hours_display"><span id="hours_result">0.00</span></p>
<p class="total_display"><span id="total_result">0.00</span></p>
</div>
</div>
</div>
<input type="submit" class="button add" value="Add Project" />
</form>
</div>
		
</div>

<div id="main_part">

<ul class="sidebar">

<li><a href="#" id="new">New Project</a></li>

<li><a href="#" id="timer">Timer</a></li>

</ul>

<div class="message purple"><a href="#" class="close_box">Close</a>
<h2>Getting Started - Projects</h2>
Here you are able to add projects with tasks as well as track time. The projects are listed by their create date. You can create a new project by clicking the New Project button on the right. To open the Timer click on the Timer button at right. When a project is ready to be billed you can include it under the insert menu when you create a new invoice. When all tasks in a project are billed the status will be changed to Billed.
</div>
	
<h2 class="title">Projects</h2>

<ul id="tab">
<li><a href="#" class="current"><span class="tab_one">Active</span></a></li>
<li><a href="#"><span class="tab_two">Archived</span></a></li>
<a href="#" id="toggle_filter">Filter<span id="bulb"></span></a>
</ul>

<div id="filter">
<label>Client</label>

<div class="select_wrapper" id="projects_client" >
<select name="filter_client" class="select">
<option value="all">All</option>
<option value="internal">Internal</option>
<option value="399111">HSD</option>
<option value="399112">HSD</option>
<option value="399110">Sample Company</option>
</select>
</div>

<label>Status</label>

<div class="select_wrapper" id="projects_status" >
<select name="filter_status" class="select">
<option value="all">All</option>
<option value="draft">Draft</option>
<option value="partial">Partial</option>
<option value="billed">Billed</option>
</select>
</div>

<a href="#" class="small_button" id="reset">Reset</a>
</div>

<div class="bar">
<span class="name">Name</span>
<span class="client">Client</span>
<span class="hours">Hours</span>
<span class="total">Total</span>
<span class="status">Status</span>
</div>

<ul class="rows">
<li class="row" id="283876">
<span class="actions" style="display: none">
<a href="#" class="remove">Remove</a>
<a href="http://stokes.invoicemachine.com/projects/edit/283876" class="edit">Edit</a>
<a href="#" class="handle"></a>
</span>
<span class="name">Sample Project</span>
<span class="client">Sample Company</span>
<span class="hours">4</span>
<span class="total">400.00</span>
<span class="status draft">Draft</span>
</li>

<div class="pager">
<div style="float: right">
</div>
</div>
</ul>
<input type="hidden" name="current_url" val="http://localhost:8888/invoicemachine/application/projects" />

</div></div>

<div id="space"></div>

</div>

</body>
</html>