<% provide(:title, "Client Details") %>
<div><h3>Client: <%= @client.name%> <h3></div>
<%= currently_at 'Client' %>




	<%= render 'client_detail' %>
	<% if @client.contacts.any? %>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Phone</th>

			</tr>
		</thead>
		<%= render @contacts %>



	</table>
	<% end %>


