<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "Swashfly", root_path, id: "logo" %>
			<%= yield :main_navigation %>

		</div>
	</div>
</header>
